.list-group-item.wd-module-item{
    background-color: #f5f5f5;
    border:1px solid #c7cdd1 !important;
    border-radius: 0px;
    padding:12px 6px 12px 6px;
    margin-top:15px;
    align-items: center;
    justify-content: center;
}

.list-group-item.wd-module-item *{
    font-size: 1rem;
}

.list-group-item.wd-module-item:first-child{
    border-radius: 0px;
}



.list-group-item.wd-module-item:last-child{
    border-radius: 0px;
}

.list-group-item.wd-module-item p{
    margin:0px;
}

.wd-module-title-input{
    height:38px;
    margin-bottom: 8px;
}

.wd-inputs{
    min-width:300px !important;
}