.custom-list-group-course .list-group-item {
    border: none;
    background-color: white;
    color: red;
    margin-left: 20px;
    border-radius: 0 !important;
}

.custom-list-group-course .list-group-item.active {
    border-left: 2px solid black;
    color: black;
    background-color: white;
}