.wd-cards .course-card .card{
    margin:30px 0px 30px 0px;
    width:250px;
    height:300px;
}

.wd-cards .course-card *{
    text-decoration: none;
}

.wd-cards .course-card .card-title{
    font-size:18px;
    font-weight: bold;
    color:rgb(26, 127, 147);
    height:43px;
}

.wd-cards .course-card .card-img-top{
    background-color: white
}

.wd-courses-wrapper{
    width:80%;
    margin-left:2%;
}
.wd-add-course-btn{
    min-width:100px;
    max-height:45px;
    margin-right:50px;
}

.wd-course-btn{
    margin-top: 0px;
    border-radius: 4px;
    height:30px;
    padding-left: 9px;
    padding-right:9px;
}
.wd-delete-btn{
    background-color: indianred;
    border:none;
    color:mintcream;
}
