.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 150px;
    margin: 0px;
}

.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.wd-kanbas-navigation li a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
    color: red;
}
.wd-kanbas-navigation li a i {
    color: red;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#accountWhite {
    color: gray;
}


.wd-kanbas-navigation2 {
    list-style: none;
    /* padding: 0px; */
    width: 90px;
    margin: 0px;
}
.wd-kanbas-navigation2 li {
    margin-bottom: 15px;
    text-align: center;
}
.wd-kanbas-navigation2 li a {
    color: red;
    text-decoration: none;
}




.wd-icon {
    font-size: 2em;
    color: red;
    margin-bottom: 5px;
}

.wd-icon-card {
    font-size: 1.5em;
    margin-bottom: 5px;
}
.custom-list-group .list-group-item {
    border: none; /* Remove the border */
    background-color: black;
    color: white;
    border-radius: 0 !important; /* Remove the rounded corners */
}

.custom-list-group .nu-icon {
    padding: 0px;
    margin: 0px;    
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

.custom-list-group .list-group-item.active {
    background-color: white; /* Background color for the selected item */
    color: red; /* Text color for the selected item */
}


.custom-navigation-wrapper {
    background-color: black;
}
