.wd-nav-menu .list-group-item{
    color:#ffffff;
    background-color: black;
    border:0px;
    font-size:85%;
    text-align: center;
    /*padding-left:0px;*/
    /*padding-right:0px;*/
    padding:7px 0px 7px 0px;
}

.list-group.wd-nav-menu{
    border-radius: 0px;
    height:100vh;
    background-color: black;
    width:85px;
    justify-content: start;
    text-align: center;
    z-index:100;
    position: fixed;
}

.wd-neu-logo{
    width:80%;
    padding:15px 0px 10px 0px;
}

.wd-menu-icons{
    color:rgb(167, 21, 35);
    display: block;
    font-size:26px;
}

.wd-nav-menu .list-group-item.active{
    background-color:white;
    color:rgb(167, 21, 35);
}

.wd-nav-menu .list-group-item.active:hover {
    box-shadow: inset 1px 0 0 0 rgb(167, 21, 35), inset -1px 0 0 0 rgb(167, 21, 35);
}