.percent-total {
    border: 1px solid darkgrey;
    padding: 0px 5px;
}


.right-input {
    width: 500px;
}

.right-input-card {
    width: 476px;
}

.card-input {
    width: 250px;
}

.card-assign-to-add {
    background-color: lightgrey;
}

.card-assign-body {
    height: 100%;
}