.wdKanbasRed {
    color:rgb(167, 21, 35);
}

.wdKanbasBorderGray {
    border:1px solid #c7cdd1 !important;
}

.wdKanbasBgGray{
    background-color: #f5f5f5 !important;
}

.wdKanbasBtnColor {
    color:#f5f5f5;
}

.wdHrStyle {
    margin-bottom:5px;
}


.wdListNoLine {
    text-decoration: none;
}

.wdListNoDot{
    list-style-type: none;

}

.wd-main-content-wrapper{
    margin-left:92px;
    margin-right:1%;
    width:95%;
}

.wd-burger-btn{
    background: none;
    border:none;
    margin-right:10px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:  ">" !important;
}
.wd-breadcrumb-h1{
    font-size: 1.425rem;
    margin:5px;
    display: flex;
}
