.form-control.wd-description-input{
    height:100px;
    margin-bottom: 15px;
}
.btn.btn-outline-dark.wdKanbasBgGray{
    border-radius: 3px;
}
.wd-available-from{
    width: 48%;
}
.wd-wrapper{
    max-width:800px;
}

.form-control.wd-assign-box{
    margin-left:6px;
}
.wd-points-input{
    margin-left:6px;
}
