#black-top-bar {
    width: 100%;
    height: 80px; /* Adjust the height as needed */
    background-color: black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#black-top-bar .row {
    width: 100%;
    margin: auto;
}